<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.yzhao.mybatis.dao.StudentDAO">
    <!-- keyProperty is primary key , useGeneratedKeys=true is auto_increment type-->
    <insert id="insertStudent" parameterType="Student" keyProperty="id" useGeneratedKeys="true">
        insert into students (name, age, gender, number) values (#{name}, #{age}, #{gender}, #{number});
    </insert>

    <delete id="deleteStudentByNumber" parameterType="String">
        delete from students where number=#{number};
    </delete>

    <update id="updateStudentByNumber" parameterType="Student">
        update students set name=#{name}, age=#{age}, gender=#{gender} where number=#{number};
    </update>

    <select id="getStudentByNumber" parameterType="String" resultType="Student">
        select * from students where number=#{number};
    </select>

</mapper>