<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--Spring  configuration file, mianly about the transaction-->


    <context:component-scan base-package="com.yzhao">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>


    <context:property-placeholder location="classpath:dbconfig.properties"/>

    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++DataSource+++++++++++++++++++++++++++++++++++++++++-->
    <!--DataSource-->
    <bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="123456"/>
    </bean>


    <!--+++++++++++++++++++++++++++++++++++++++++++++++++++About MyBatis++++++++++++++++++++++++++++++++++++++++-->
    <!-- Configuration about mybatis-->

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="dataSource" ref="pooledDataSource"/>

        <!-- mybatis mapper file-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!-- Config the mybatis mapperScannerConfig, add the mybatis interface implements to spring IOC-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- Scanner all the dao interface implements , then add to the spring IOC-->
        <property name="basePackage" value="com.yzhao.crud.dao"/>
    </bean>


    <!-- Configuration the sqlSession-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
        <constructor-arg name="executorType" value="BATCH"/>
    </bean>

    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++Transaction+++++++++++++++++++++++++++++-->

    <!-- Transaction -->
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <!-- manage the dataSource-->
        <property name="dataSource" ref="pooledDataSource"/>
    </bean>

    <!-- Can use the based annotation transaction or based the XML transaction(Advice to use the XML)-->
    <aop:config>
        <!-- PointCut-->
        <aop:pointcut id="txPoint" expression="execution(* com.yzhao.crud.service..*(..))"/>

        <!-- transaction advisor-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPoint"/>
    </aop:config>


    <!-- Config the transaction enhancement(improvement), how the transaction to cut-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!-- All the method is the transaction methods-->
            <tx:method name="*"/>

            <!-- methods of startwith the get-->
            <tx:method name="get*" read-only="true"/>
        </tx:attributes>
    </tx:advice>


    <!--Spring Core configuration points:
        1. datasource
        2. combine to the mybatis
        3. transaction configuration
        -->


</beans>